<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Shopping List App</title>
  <link rel="stylesheet" href="main.css">
</head>

<body>
  <div id="shopping-list">
    <div class="header">
      <h1>{{ header || 'Welcome' }}</h1>
      <button v-if="editing" @click="doEdit(false)" class="btn btn-cancel">Cancel</button>
      <button v-else @click="doEdit(true)" class="btn btn-primary">Add Item</button>
    </div>
    
    <div v-if="editing" class="add-item-form">
      <input 
        @keyup.enter="saveItem" 
        type="text" v-model="newItem" placeholder = "Add an Item">
      <label>
        <input type="checkbox" v-model="newItemHighPriority">
        High Priority
      </label>
      <button 
        @click="saveItem" 
        class="btn btn-primary">
        Save Item
      </button>
    </div>
    <p v-if="items.length === 0">Nice job! You've bought all your items!</p>
    <ul>
      <li 
        v-for="item in reversedItems" 
        @click="togglePurchased(item)"
        :key="item.id"
        class="static-class"
        :class="{strikeout: item.purchased, priority: item.highPriority}"
      >
        {{item.label}}
      </li>
    </ul>
  </div>
  <script src="https://unpkg.com/vue@3"></script>
  <script>
    const shoppingListApp = Vue.createApp({
      data() {
        return {
          header: 'Shopping List App',
          editing:false,
          newItem: '',
          newItemHighPriority: false,
          items:[
            {id: 1, label:'10 party hats', purchased: true, highPriority: false},
            {id: 2, label:'2 board games', purchased: true, highPriority: false},
            {id: 3, label:'20 cups', purchased: false, highPriority: true},
          ]
        }
      },
      computed:{
        reversedItems(){
          return [...this.items].reverse()
        }
      },
      methods:{
        saveItem(){
          this.items.push({
            id:this.items.length + 1, 
            label: this.newItem,
            highPriority: this.newItemHighPriority
          })
          this.newItem = ""
          this.newItemHighPriority = false
        },
        doEdit(editing){
          this.editing = editing
          this.newItem = ""
          this.newItemHighPriority = false
        },
        togglePurchased(item){
          item.purchased = !item.purchased
        }
      }
    }).mount('#shopping-list')
  </script>
</body>

</html>