<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Shopping List App</title>
  <link rel="stylesheet" href="main.css">
</head>

<body>
  <div id="shopping-list">
    <h1>{{ header || 'Welcome' }}</h1>
    <div class="add-item-form">
      <input 
        @keyup.enter="items.push({id:items.length + 1, label: newItem})" 
        type="text" v-model="newItem" placeholder = "Add an Item">
      <label>
        <input type="checkbox" v-model="newItemHighPriority">
        High Priority
      </label>
      <button 
        @click="items.push({id:items.length + 1, label: newItem})" 
        class="btn btn-primary">
        Save Item
      </button>
    </div>
    
    <ul>
      <li v-for="item in items" :key="item.id">{{item.label}}</li>
    </ul>
  </div>
  <script src="https://unpkg.com/vue@3"></script>
  <script>
    const shoppingListApp = Vue.createApp({
      data() {
        return {
          header: 'Shopping List App',
          newItem: '',
          newItemHighPriority: false,
          items:[
            {id: 1, label:'10 party hats'},
            {id: 2, label:'2 board games'},
            {id: 3, label:'20 cups'},
          ]
        }
      }
    }).mount('#shopping-list')
  </script>
</body>

</html>